body {
    margin: 60px auto;
    width: 70%;
}
nav {
    width: 70%;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 1;
}
nav ul, footer ul {
    font-family:'Ubuntu','Arial';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Ubuntu','Arial';
}
h2 {
    font-family:'Ubuntu','Arial';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family:'Ubuntu','Arial';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.row {
  clear: both;
}


#work {
  background-color: #ddd;
  -webkit-font-smoothing: antialiased;
}

.portfolio-thumb {
  width: 45%;
  margin: 20px;
  background-color: white;
  display: inline-block;
  /*//height: 500px;*/
}

.portfolio-thumb img {
  width: 100%;
}

.portfolio-thumb p {
  font-size: 14px;
  padding: 25px;
  padding-top: 0px;
  text-align: left;
  line-height: 24px;
}

.portfolio-thumb a {
  text-decoration: underline;
}
